
{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">
      <header class="bk-header">
          <div class="header-container wrapper clearfix">
            <div class="companyheader clearfix">
                  <div class="header-left">
                      {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                      {{widget('companyname', 'companyname', {"business": "FRAMES"})|raw}}
                  </div>
                  <div class="header-right">
                      {{widget('extendednavigation', 'navigationheader', {})|raw}}
                  </div>
            </div>
          </div>
      </header> 
          <div class="wrapper clearfix">
                  {{zone('main')|raw}}
          </div>
              
      <footer class="bk-footer">
              <div class="footer-container wrapper clearfix">
                  <div class="footer-left">
                      {{widget('companyname', 'companynamefooter', {"business": "FRAMES"})|raw}}
                  </div>
                  <div class="footer-center">
                      {{widget('content', 'textbox2', {content: '<h4>Delivery Information</h4> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan.</p>', lines: 'all'})|raw}}
                  </div>
                  <div class="footer-right">
                    {{widget('profile', 'footersocialicons', { 'profileType':'socialicons', 'socialicons':'profile', 'refreshtime':'1800000'})|raw}}
                  </div>
                </div>
      </footer>
</div>

{% endblock %}